::v-deep.picture_box {
  .bok-W-01 {
    width: 67px;
    height: 128px;
    top: 35.3%;
    left: 62.9%;
    line-height: 128px;
  }

  .bok-W-03 {
    width: 53px;
    height: 75px;
    top: 35.3%;
    left: 51.9%;
    line-height: 75px;
  }

  .bok-W-02 {
    width: 54px;
    height: 56px;
    top: 55.2%;
    left: 51.9%;
    line-height: 56px;
  }

  .bok-W-04 {
    width: 31px;
    height: 49px;
    top: 35.3%;
    left: 49.2%;
    line-height: 49px;
  }

  .bok-W-05 {
    width: 30px;
    height: 49px;
    top: 35.3%;
    left: 46.6%;
    line-height: 49px;
  }

  .bok-W-06 {
    width: 30px;
    height: 49px;
    top: 35.3%;
    left: 43.9%;
    line-height: 49px;
  }

  .bok-W-07 {
    width: 30px;
    height: 49px;
    top: 35.3%;
    left: 41.3%;
    line-height: 49px;
  }

  .bok-W-08 {
    width: 43px;
    height: 49px;
    top: 35.3%;
    left: 37.5%;
    line-height: 49px;
  }

  .bok-W-10 {
    width: 29px;
    height: 34px;
    top: 55.1%;
    left: 41.4%;
    line-height: 34px;
  }

  .bok-W-13 {
    width: 29px;
    height: 34px;
    top: 55.1%;
    left: 46.4%;
    line-height: 34px;
  }

  .bok-W-11 {
    width: 30.4px;
    height: 73px;
    top: 79.1%;
    left: 12%;
    line-height: 73px;
  }

  .bok-W-12 {
    width: 30.4px;
    height: 83px;
    top: 45.1%;
    left: 12%;
    line-height: 83px;

  }

}
